# Ignore version control and development environment files
.git/
.github/
.vscode/
.devcontainer/

# Ignore Python cache files and build artifacts
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.mypy_cache/
*.egg-info/

# Ignore temporary and log files
*.log
*.tmp
.DS_Store
Thumbs.db
